<!DOCTYPE html>
<html lang="zh">

<head>
    <meta charset="UTF-8" />
    <meta name="referrer" content="never" />
    <meta name="viewport"
        content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="default" />
    <meta name="apple-mobile-web-app-title" content="EOELOL" />
    <link rel="apple-touch-icon" href="../assets/images/icons/256.png" />
    <title>EOELOL Project</title>
    <!-- style -->
    <link href="../src/videoRecommendPage.css" rel="stylesheet" />
    <link rel="manifest" href="../src/manifest.json" />
    <meta name="theme-color" content="#1c1c1c" />
    <!-- service worker -->
    <!-- <script>
            // 判断浏览器是否支持 Service Worker
            if ("serviceWorker" in navigator) {
                // 在 load 事件触发后注册 Service Worker，确保 Service Worker 的注册不会影响首屏速度
                window.addEventListener("load", function () {
                    // 注册 Service Worker
                    navigator.serviceWorker
                        .register("../src/sw.js")
                        .then(function (registration) {
                            // 注册成功
                            console.log(
                                "ServiceWorker registration successful with scope: ",
                                registration.scope
                            );
                        })
                        .catch(function (err) {
                            // 注册失败 :(
                            console.warn(
                                "ServiceWorker registration failed: ",
                                err
                            );
                        });
                });
            }
        </script> -->
    <style>
        @media (prefers-color-scheme: dark) {

            html,
            body {
                background-color: #1c1c1c;
            }
        }

        @keyframes openAnimation {
            from {
                opacity: 50%;
            }

            to {
                opacity: 100%;
            }
        }

        html,
        body {
            background-color: #f2f2f2;
            animation: openAnimation 0.25s cubic-bezier(0.05, 0, 0, 1);
            /* animation-delay: 0.1s; */
        }
    </style>
</head>

<body>
    <div class="floatDialog hide" id="settings" role="dialog" aria-label="设置对话框" aria-describedby="settingDesc"
        tabindex="-1">
        <div style="
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                ">
            <h1>设置</h1>
            <button class="close" onclick="hideSetting();" aria-label="关闭设置对话框" id="CloseSetting">
                ☒
            </button>
        </div>
        <p id="settingDesc">使用设置对话框修改你偏好的选项。</p>
        <br />
        <h3>使用哔哩哔哩应用开启</h3>
        <div id="OpenInApp">
            <label class="Switch" id="OpenInAppSwitchLabel">
                <input type="checkbox" class="SwitchCheckBox" id="SwitchCheckBox" aria-label="开关选项：使用哔哩哔哩应用观看视频" />
                <span class="Slider Round" id="OpenInAppSlider"></span>
            </label>
            <label for="SwitchCheckBox" id="OpenInAppLabel">在哔哩哔哩开启</label>
            <br />
        </div><span style="font-size: 0.8em; opacity: 85%;">⚠ 使用该项需要确保安装了哔哩哔哩。</span>
        <br /><br />
        <div id="OpenInRichasyBili">
            <label class="Switch" id="OpenInRichasyBiliSwitchLabel">
                <input type="checkbox" class="SwitchCheckBox" id="SwitchCheckBoxRichasyBili"
                    aria-label="开关选项：使用哔哩（ Richasy / Bili.Uwp ）应用观看视频" />
                <span class="Slider Round" id="OpenInRichasyBiliSlider"></span>
            </label>
            <label for="SwitchCheckBoxRichasyBili" id="OpenInRichasyBiliLabel">在哔哩（ Richasy / Bili.Uwp ）开启</label>
            <br />
        </div>
        <span id="RichasyBiliTips" style="font-size: 0.8em; opacity: 85%;">⚠ 使用该项需要确保安装了哔哩（ Richasy / Bili.Uwp
            ）。<br /><br /></span>
        <h3>排除录播man、切片man</h3>
        <div id="ExcludeRecordManAndCutMan">
            <label class="Switch" id="ExcludeRecordManAndCutManSwitchLabel">
                <input type="checkbox" class="SwitchCheckBox" id="ExcludeCheckBox" aria-label="开关选项：排除录播和切片" />
                <span class="Slider Round" id="ExcludeRecordManAndCutManSlider"></span>
            </label>
            <label for="ExcludeCheckBox" id="ExcludeRecordManAndCutManLabel">排除录播和切片</label><br />
        </div>
        <i style="font-size: 0.8em; opacity: 85%">如果你的二创被拦截了下来请前往开源项目提 Pull request
            将在排除名单里的自己删除，文件位于
            <code>./authorBlackList.txt</code> 里。文件为 UTF-8 编码。</i>
    </div>

    <div class="floatMessage hide" id="BilibiliAlert">
        <h1>将在 哔哩哔哩 打开视频</h1>
        <p>您需要安装哔哩哔哩才可以正常使用本开关。</p>
        <i>本消息将在五秒后关闭</i>
    </div>

    <div class="main">
        <header class="menu">
            <h1 id="menu_title">EOE.LOL</h1>
            <!-- <button
                    id="popular"
                    class="menu_option"
                    aria-label="切换到按人气排序"
                >
                    人气推荐
                </button>
                <button
                    id="goodFanmade"
                    class="menu_option"
                    aria-label="切换到精选二创列表"
                >
                    精选二创
                </button> -->
            <button class="menu_option" aria-label="打开设置对话框" onclick="showSetting();" id="Setting">
                ⚙ 设置
            </button>
            <div id="forLargeScreen">
                <div id="FireFox" class="Card hide">
                    <h3>Firefox?</h3>
                    <p>
                        尽管我们针对 Firefox
                        已经修复了很多问题，如有问题请将 Firefox
                        升级至最新版本
                    </p>
                </div>
                <div id="UnsupportBrowser" class="Card">
                    <h2 style="color: #ff3300">本浏览器可能不受支持</h2>
                    <p>
                        请使用更先进的浏览器，如 Chrome、Edge 及
                        Firefox（100+）。<br />如过你就在用这些浏览器，请检查更新，或检查
                        JavaScript 有没有打开。<br /><br />还有一种情况......就是还没加载完成。
                    </p>
                </div>
                <div id="RequestDalao" class="Card">
                    <h3>求 Star！</h3>
                    <p>
                        点击视频列表上方的“开源”（链接）选项卡给本项目点个
                        Star 吧！磕个头了！
                    </p>
                    <p>
                        什么？你是 Python
                        语言大佬/前端大佬？如果可以的话，欢迎你来帮助我们优化网站！
                    </p>
                </div>
            </div>
        </header>
        <main class="videoMain">
            <nav class="linkBar">
                <div>
                    <a href="#" aria-label="也是打开设置对话框" class="pressed" onclick="showSetting()">在哔哩哔哩打开</a>
                    <a href="#" aria-label="还是打开设置对话框" class="pressed" onclick="showSetting()">排除录播man、切片man</a>
                    <a href="#disclaimer" aria-label="前往 免责声明">免责声明</a>
                    <a href="https://qun.qq.com/qqweb/qunpro/share?_wv=3&_wwv=128&appChannel=share&inviteCode=1W8BsfD&businessType=9&from=246610&biz=ka"
                        aria-label="前往 QQ 聊天软件频道群聊：EOE_Official 频道">前往 QQ EOE_Official 频道<img src="./assets/link.svg"
                            class="linkTip" alt="外部链接指示" /></a>
                    <a href="https://qun.qq.com/qqweb/qunpro/share?_wv=3&_wwv=128&appChannel=share&inviteCode=1WjpDWG&businessType=9&from=246610&biz=ka"
                        aria-label="前往 QQ 聊天软件频道群聊：EOE 频道">前往 QQ EOE 频道<img src="./assets/link.svg" class="linkTip"
                            alt="外部链接指示" /></a>
                    <a href="https://t.me/ElfofEra" aria-label="前往 Telegram 聊天软件群聊">前往 Telegram 群<img
                            src="./assets/link.svg" class="linkTip" alt="外部链接指示" /></a>
                    <a href="https://github.com/OpenEOELOL/OpenFansite" aria-label="前往 Github 开源页面">开源<img
                            src="./assets/link.svg" class="linkTip" alt="外部链接指示" /></a>
                </div>
            </nav>
            <h1 id="listTitle">大家都在看</h1>
            <div id="videoList">
                <!--div class="videoCard" role="button">
                        <button onclick="videoBV('BV1vF411n7er')  video2App('{av}');" aria-label="视频标题：大家好啊 我是米诺 今天给大家带来想看的东西嗷" role="link">
                        <div class="videoCover">
                            <img
                                src="http://popii.test.upcdn.net/2022/07/21/62d8d3b812fff.png"
                                alt=""
                                />
                        </div>
                        <div class="videoTitle">大家好啊 我是米诺 今天给大家带来想看的东西嗷</div>
                        <div class="videoAuthor"><img src="./assets/UP.svg" alt="视频博主图标">米诺</div>
                        <div class="videoInfo"><img src="./assets/播放.svg" alt="播放量图标"> 3.2K <img src="./assets/投币.svg" alt="投币支持量图标"> 0.9K</div>
                        </button>
                    </div-->
                {% for videoCard in videoResult %}
                <div class="videoCard {{videoCard.HideOrNot}}" role="link" title="{{videoCard.videoTitle}}">
                    <button onclick="video('{{videoCard.av}}');" aria-label="视频标题：{{videoCard.videoTitle}}" role="link">
                        <div class="videoCover">
                            <img src="{{videoCard.videoCover}}" alt="" loading="lazy" />
                        </div>
                        <div class="videoTitle">
                            {{videoCard.videoTitle}}<img src="./assets/link.svg" class="linkTip" alt="外部链接指示" />
                        </div>
                        <div class="videoAuthor">
                            <img src="./assets/UP.svg" alt="视频博主图标" />{{videoCard.videoAuthor}}
                        </div>
                        <div class="videoInfo">{{videoCard.videoInfo}}</div>
                    </button>
                </div>
                {% endfor %}
            </div>
            <hr class="hr" data-content="第{{pageNumber.index}}页" />
            <div id="pageSwitcher">
                <button id="previousPage" class="pageSwitcherText" aria-label="切换到上一页，现在是第{{pageNumber.index}}页">
                    &lt;&nbsp;上一页
                </button>
                <div style="
                            width: 17px;
                            color: rgba(0, 0, 0, 0);
                            font-size: 0px;
                        " id="blank"></div>
                <button id="nextPage" class="pageSwitcherText" aria-label="切换到下一页，现在是第{{pageNumber.index}}页">
                    下一页&nbsp;&gt;
                </button>
            </div>
            <hr class="hr" data-content="页脚" />
            <footer>
                <div>
                    <h2 id="disclaimer">免责声明</h2>
                    本页面提供的任何数据为哔哩哔哩抓取内容，我（站长
                    KurisuCat）不承担因此内容带来的风险。<br />
                    本站仅为个人性质的视频列表收录站点。从建站开始，从未有意标榜或冒充是“哔哩哔哩”官方网站或“EOE组合”官方网站。请认准“哔哩哔哩”官方网站
                    <p class="link">（bilibili.com）</p>
                    以及“EOE组合”官方账号
                    <p class="link">
                        （https://space.bilibili.com/2018113152）
                    </p>
                    <br />
                    本站不保证指向外部的链接为安全链接，请仔细甄别。（此处的链接包括但不限于点击按钮后自动跳转到其他页面或直接点击链接）
                </div>
                <hr class="hr" data-content="Copyright" />
                <p id="copyright">&copy;2022 KurisuCat</p>
            </footer>
        </main>
    </div>
    <script>
        if ("{{pageNumber.index}}" == "1") {
            document.getElementById("previousPage").classList.add("hide");
            document.getElementById("blank").classList.add("hide");
        }

        function video(av) {
            //window.location.href = link;
            var checkbox = document.getElementById("SwitchCheckBox");
            var checkboxBili = document.getElementById(
                "SwitchCheckBoxRichasyBili"
            );
            if (checkboxBili.checked) {
                var link = "richasy-bili://play?video=" + av;
            } else if (checkbox.checked) {
                var link = "bilibili://video/" + av;
            } else {
                var link = "https://www.bilibili.com/video/av" + av;
            }
            window.open(link, "_newtab");
        }
        var ECheckBox = document.getElementById("ExcludeCheckBox");
        var ItIsRecoder = document.querySelectorAll(".ItIsRecoder");

        ECheckBox.addEventListener(
            "click",
            function () {
                if (ECheckBox.checked) {
                    [].forEach.call(ItIsRecoder, function (ThisElement) {
                        ThisElement.classList.add("hide");
                    });
                    console.log("开");
                } else {
                    [].forEach.call(ItIsRecoder, function (ThisElement) {
                        ThisElement.classList.remove("hide");
                    });
                    console.log("关");
                }
            },
            false
        );
        document.getElementById("previousPage").onclick = function () {
            window.location.href = "/{{pageNumber.previous}}";
        };
        document.getElementById("nextPage").onclick = function () {
            window.location.href = "/{{pageNumber.next}}";
        };

        function setCookie(cname, cvalue, exdays) {
            //偷的菜鸟教程 https://www.runoob.com/js/js-cookies.html
            var d = new Date();
            d.setTime(d.getTime() + exdays * 24 * 60 * 60 * 1000);
            var expires = "expires=" + d.toGMTString();
            document.cookie = cname + "=" + cvalue + "; " + expires;
        }

        function getCookie(cname) {
            var name = cname + "=";
            var ca = document.cookie.split(";");
            for (var i = 0; i < ca.length; i++) {
                var c = ca[i].trim();
                if (c.indexOf(name) == 0) {
                    return c.substring(name.length, c.length);
                }
            }
            return "";
        }

        function getExploreVersion() {
            // 偷的思否 https://segmentfault.com/a/1190000007640795
            var Sys = {};
            var ua = navigator.userAgent.toLowerCase();
            var s;
            (s = ua.match(/rv:([\d.]+)\) like gecko/)) ?
            (Sys.ie = s[1]) :
            (s = ua.match(/msie ([\d\.]+)/)) ?
            (Sys.ie = s[1]) :
            (s = ua.match(/edge\/([\d\.]+)/)) ?
            (Sys.edge = s[1]) :
            (s = ua.match(/firefox\/([\d\.]+)/)) ?
            (Sys.firefox = s[1]) :
            (s = ua.match(/(?:opera|opr).([\d\.]+)/)) ?
            (Sys.opera = s[1]) :
            (s = ua.match(/chrome\/([\d\.]+)/)) ?
            (Sys.chrome = s[1]) :
            (s = ua.match(/version\/([\d\.]+).*safari/)) ?
            (Sys.safari = s[1]) :
            0;
            if (Sys.ie) return Sys.ie;
            if (Sys.edge) return Sys.edge;
            if (Sys.firefox) return Sys.firefox;
            if (Sys.chrome) return Sys.chrome;
            if (Sys.opera) return Sys.opera;
            if (Sys.safari) return Sys.safari;
            return "Unkonwn";
        }
        var checkbox = document.getElementById("SwitchCheckBox");
        var checkboxBili = document.getElementById(
            "SwitchCheckBoxRichasyBili"
        );
        if (getCookie("OpenInApp") == "true") {
            checkbox.checked = true;
        } else {
            checkbox.checked = false;
            checkboxBili.checked = false;
        }
        if (getCookie("OpenInBili") == "true") {
            checkboxBili.checked = true;
        }

        checkbox.addEventListener(
            "click",
            function () {
                if (checkbox.checked) {
                    setCookie("OpenInApp", "true", 365);
                    document
                        .getElementById("OpenInRichasyBili")
                        .classList.remove("hide");
                    document
                        .getElementById("RichasyBiliTips")
                        .classList.remove("hide");
                } else {
                    setCookie("OpenInApp", "false", 365);
                    document
                        .getElementById("OpenInRichasyBili")
                        .classList.add("hide");
                    document
                        .getElementById("RichasyBiliTips")
                        .classList.add("hide");
                    checkboxBili.checked = false;
                }
            },
            false
        );
        checkboxBili.addEventListener(
            "click",
            function () {
                if (checkboxBili.checked) {
                    setCookie("OpenInBili", "true", 365);
                } else {
                    setCookie("OpenInBili", "false", 365);
                }
            },
            false
        );
        var ECheckBox = document.getElementById("ExcludeCheckBox");
        if (getCookie("Exclude") == "true") {
            ECheckBox.checked = true;
            [].forEach.call(ItIsRecoder, function (ThisElement) {
                ThisElement.classList.add("hide");
            });
        }
        ECheckBox.addEventListener(
            "click",
            function () {
                if (ECheckBox.checked) {
                    setCookie("Exclude", "true", 365);
                } else {
                    setCookie("Exclude", "false", 365);
                }
            },
            false
        );
        if (
            navigator.userAgent.includes("Safari") ||
            navigator.userAgent.includes("Edg") ||
            navigator.userAgent.includes("Chrome") ||
            navigator.userAgent.includes("Firefox")
        ) {
            document
                .getElementById("UnsupportBrowser")
                .classList.add("hide");
        } else {
            document
                .getElementById("UnsupportBrowser")
                .classList.remove("hide");
        }

        if (navigator.userAgent.includes("Firefox")) {
            document.getElementById("FireFox").classList.remove("hide");
        }
        var linkBar = document.querySelector(".linkBar");
        linkBar.addEventListener("wheel", (event) => {
            event.preventDefault();
            linkBar.scrollLeft += event.deltaY;
        });

        function showSetting() {
            if (checkbox.checked) {
                document
                    .getElementById("OpenInRichasyBili")
                    .classList.remove("hide");
                document
                    .getElementById("RichasyBiliTips")
                    .classList.remove("hide");
            } else {
                document
                    .getElementById("OpenInRichasyBili")
                    .classList.add("hide");
                document
                    .getElementById("RichasyBiliTips")
                    .classList.add("hide");
            }
            document.getElementById("settings").classList.remove("hide");
            document.getElementById("CloseSetting").focus();
            window.dialogOpen = true;
        }

        function hideSetting() {
            document.getElementById("settings").classList.add("hide");
            document.getElementById("Setting").focus();
            window.dialogOpen = false;
        }
        document.addEventListener(
            "keydown",
            function (event) {
                if (dialogOpen && event.keyCode == 27) {
                    hideSetting();
                }
            },
            true
        );
        document.addEventListener(
            "focus",
            function (event) {
                var dialog = document.getElementById("settings");
                if (dialogOpen && !dialog.contains(event.target)) {
                    event.stopPropagation();
                    dialog.focus();
                    document.getElementById("CloseSetting").focus();
                }
            },
            true
        );
    </script>
</body>

</html>